.players-list{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    

}

.playerCard{
    width: 15%;
    border-radius: 25px;
    margin: 0 auto;
    padding: 1%;
    margin-top: 1%;
    background-color: aquamarine;
    color: #282c34;
}

.dark-mode{
    color: aquamarine;
    background-color: #282c34;
  }